$breakpoints: (
  mobile: 360px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1280px,
  wide: 1440px,
);

// 컨테이너 최대 너비
$container-max-widths: (
  mobile: 327px,
  // 360 - (16px * 2)
  tablet: 704px,
  // 768 - (32px * 2)
  laptop: 944px,
  // 1024 - (40px * 2)
  desktop: 1200px,
  // 1280 - (40px * 2)
  wide: 1320px // 1440 - (60px * 2),,,,,,
);

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

.container {
  width: 100%;
  @extend .mx-auto;

  max-width: map-get($container-max-widths, mobile);

  @include responsive(tablet) {
    max-width: map-get($container-max-widths, tablet);
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include responsive(laptop) {
    max-width: map-get($container-max-widths, laptop);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @include responsive(desktop) {
    max-width: map-get($container-max-widths, desktop);
  }

  @include responsive(wide) {
    max-width: map-get($container-max-widths, wide);
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
}
