$spacings: (
  '0': 0,
  '1': 0.25rem,  // 4px
  '2': 0.5rem,   // 8px
  '3': 0.75rem,  // 12px
  '4': 1rem,     // 16px
  '5': 1.5rem,   // 24px
  '6': 2rem,     // 32px
  '7': 2.5rem,   // 40px
  '8': 3rem,     // 48px
  '9': 3.75rem,  // 60px
  '10': 4rem,    // 64px
);

@mixin generate-spacings {
  @each $size, $value in $spacings {
    .m-#{$size}  { margin: $value; }
    .mx-#{$size} { 
      margin-left: $value;
      margin-right: $value;
    }
    .my-#{$size} { 
      margin-top: $value;
      margin-bottom: $value;
    }
    .mt-#{$size} { margin-top: $value; }
    .mb-#{$size} { margin-bottom: $value; }
    .ml-#{$size} { margin-left: $value; }
    .mr-#{$size} { margin-right: $value; }

    // 패딩
    .p-#{$size}  { padding: $value; }
    .px-#{$size} { 
      padding-left: $value;
      padding-right: $value;
    }
    .py-#{$size} { 
      padding-top: $value;
      padding-bottom: $value;
    }
    .pt-#{$size} { padding-top: $value; }
    .pb-#{$size} { padding-bottom: $value; }
    .pl-#{$size} { padding-left: $value; }
    .pr-#{$size} { padding-right: $value; }
  }

  .m-auto  { margin: auto; }
  .mx-auto { 
    margin-left: auto;
    margin-right: auto;
  }
}

@include generate-spacings;
