/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.theme-dark {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  background-color: #111827;
  color: #ffffff;
}

.theme-light {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  background-color: #ffffff;
  color: #333333;
}

.container {
  width: 100%;
  box-sizing: border-box;
  min-width: 320px;
  margin-bottom: 2rem;
  max-width: 327px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 944px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.text-xs {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .text-xs {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-xs {
    font-size: 0.875rem;
  }
}

.text-sm {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .text-sm {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-sm {
    font-size: 1rem;
  }
}

.text-base {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .text-base {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-base {
    font-size: 1.125rem;
  }
}

.text-lg {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .text-lg {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-lg {
    font-size: 1.375rem;
  }
}

.text-xl {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .text-xl {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-xl {
    font-size: 1.75rem;
  }
}

.text-2xl {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .text-2xl {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-2xl {
    font-size: 2rem;
  }
}

.text-3xl {
  font-size: 1.875rem;
}
@media screen and (min-width: 768px) {
  .text-3xl {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-3xl {
    font-size: 2.5rem;
  }
}

.text-4xl {
  font-size: 2.25rem;
}
@media screen and (min-width: 768px) {
  .text-4xl {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-4xl {
    font-size: 3rem;
  }
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0, .header-container .container {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1, .right-console .player-container .players .player .name .turn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.m-2, .right-console, .game-container .left-console {
  margin: 0.5rem;
}

.mx-2, .map-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-2, .right-console .player-container {
  margin-top: 0.5rem;
}

.mb-2, .game-container .left-console .building section.des-section, .start-container .select-input .select-label {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.p-2, .modal-wrapper .modal-container .btn-container .btn.btn-random, .modal-wrapper .modal-container .btn-container .btn.btn-dark, .right-console .player-container .players .player, .right-console .lucky .lucky-items .lucky-item .lucky-card button.btn.btn-border, .right-console .lucky .lucky-items .lucky-item .lucky-card, .building-select, .start-container .btn-start, .start-container .btn-random, .start-container .select-input .selected, .btn.btn-border, .btn.btn-common, input {
  padding: 0.5rem;
}

.px-2, .right-console .player-container .players .player .name .turn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2, .btn.btn-dark {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.p-3, .game-container .left-console .dice-number div {
  padding: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4, .game-container, .logo-container header {
  margin-top: 1rem;
}

.mb-4, .game-container .left-console .building h3, .logo-container {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.p-4, .modal-wrapper .modal-container, .game-container .console-container, .start-container .select-input .select-box .select-elem {
  padding: 1rem;
}

.px-4, .btn.btn-dark {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4, .building-select {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.m-5 {
  margin: 1.5rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-5, .progress-container {
  margin-top: 1.5rem;
}

.mb-5, .buttons-container {
  margin-bottom: 1.5rem;
}

.ml-5 {
  margin-left: 1.5rem;
}

.mr-5 {
  margin-right: 1.5rem;
}

.p-5, .btn {
  padding: 1.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.pl-5 {
  padding-left: 1.5rem;
}

.pr-5 {
  padding-right: 1.5rem;
}

.m-6 {
  margin: 2rem;
}

.mx-6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.ml-6 {
  margin-left: 2rem;
}

.mr-6 {
  margin-right: 2rem;
}

.p-6, .start-container {
  padding: 2rem;
}

.px-6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-6 {
  padding-top: 2rem;
}

.pb-6 {
  padding-bottom: 2rem;
}

.pl-6 {
  padding-left: 2rem;
}

.pr-6 {
  padding-right: 2rem;
}

.m-7 {
  margin: 2.5rem;
}

.mx-7 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-7 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-7 {
  margin-top: 2.5rem;
}

.mb-7 {
  margin-bottom: 2.5rem;
}

.ml-7 {
  margin-left: 2.5rem;
}

.mr-7 {
  margin-right: 2.5rem;
}

.p-7 {
  padding: 2.5rem;
}

.px-7 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-7 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-7 {
  padding-top: 2.5rem;
}

.pb-7 {
  padding-bottom: 2.5rem;
}

.pl-7 {
  padding-left: 2.5rem;
}

.pr-7 {
  padding-right: 2.5rem;
}

.m-8 {
  margin: 3rem;
}

.mx-8 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-8 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-8 {
  margin-top: 3rem;
}

.mb-8 {
  margin-bottom: 3rem;
}

.ml-8 {
  margin-left: 3rem;
}

.mr-8 {
  margin-right: 3rem;
}

.p-8 {
  padding: 3rem;
}

.px-8 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-8 {
  padding-top: 3rem;
}

.pb-8 {
  padding-bottom: 3rem;
}

.pl-8 {
  padding-left: 3rem;
}

.pr-8 {
  padding-right: 3rem;
}

.m-9 {
  margin: 3.75rem;
}

.mx-9 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.my-9 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.mt-9 {
  margin-top: 3.75rem;
}

.mb-9 {
  margin-bottom: 3.75rem;
}

.ml-9 {
  margin-left: 3.75rem;
}

.mr-9 {
  margin-right: 3.75rem;
}

.p-9 {
  padding: 3.75rem;
}

.px-9 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.py-9 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.pt-9 {
  padding-top: 3.75rem;
}

.pb-9 {
  padding-bottom: 3.75rem;
}

.pl-9 {
  padding-left: 3.75rem;
}

.pr-9 {
  padding-right: 3.75rem;
}

.m-10 {
  margin: 4rem;
}

.mx-10 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-10 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-10, .start-container {
  margin-top: 4rem;
}

.mb-10 {
  margin-bottom: 4rem;
}

.ml-10 {
  margin-left: 4rem;
}

.mr-10 {
  margin-right: 4rem;
}

.p-10 {
  padding: 4rem;
}

.px-10 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-10 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-10 {
  padding-top: 4rem;
}

.pb-10 {
  padding-bottom: 4rem;
}

.pl-10 {
  padding-left: 4rem;
}

.pr-10 {
  padding-right: 4rem;
}

.m-auto {
  margin: auto;
}

.mx-auto, .container {
  margin-left: auto;
  margin-right: auto;
}

@keyframes rolling {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateY(45deg) rotateZ(45deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(90deg) rotateZ(90deg);
  }
  75% {
    transform: rotateX(270deg) rotateY(135deg) rotateZ(135deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(180deg);
  }
}
html {
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.875rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    font-size: 1.75rem;
  }
}

p {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  p {
    font-size: 1.125rem;
  }
}

.theme-light input {
  border: #e0e0e0;
}
.theme-dark input {
  border: #363636;
}

.btn {
  cursor: pointer;
  height: 4rem;
  font-weight: 700;
}
.theme-light .btn {
  background-color: #f3f4f6;
}
.theme-dark .btn {
  background-color: #f3f4f6;
}
.btn.btn-common {
  height: auto;
  border-radius: 4px;
}
.btn.btn-border {
  background-color: transparent;
  height: auto;
  border-radius: 4px;
}
.theme-light .btn.btn-border {
  border: 0.4px solid #333333;
  color: #333333;
}
.theme-dark .btn.btn-border {
  border: 0.4px solid #ffffff;
  color: #ffffff;
}
.btn.btn-dark {
  height: auto;
  border-radius: 4px;
}
.theme-light .btn.btn-dark {
  background-color: #6e64f6;
  color: #ffffff;
}
.theme-dark .btn.btn-dark {
  background-color: #000000;
  color: #ffffff;
}

.btn-start {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .btn-start {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .btn-start {
    font-size: 1.375rem;
  }
}
.theme-light .btn-start {
  background-color: #6e64f6;
  color: #ffffff;
}
.theme-dark .btn-start {
  background-color: #000000;
  color: #ffffff;
}

.btn-saved {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .btn-saved {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .btn-saved {
    font-size: 1.375rem;
  }
}
.theme-light .btn-saved {
  background-color: #f1f3f5;
  color: #333333;
}
.theme-dark .btn-saved {
  background-color: #1f2937;
  color: #ffffff;
}

.header-container {
  height: 4rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .header-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .header-container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
.theme-light .header-container {
  background-color: #f1f3f5;
  color: #333333;
}
.theme-dark .header-container {
  background-color: #1f2937;
  color: #ffffff;
}
.header-container .container {
  display: flex;
  justify-content: space-between;
}
.header-container .navi-block {
  display: flex;
  gap: 1.5rem;
}
.theme-light .header-container .navi-block .logo-color {
  color: #333333;
}
.theme-dark .header-container .navi-block .logo-color {
  color: #ffffff;
}
.header-container .navi-block .navi-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.progress-container .background {
  width: 100%;
  height: 8px;
  border-radius: 8px;
}
.theme-light .progress-container .background {
  background-color: #e5e7eb;
}
.theme-dark .progress-container .background {
  background-color: #e5e7eb;
}
.progress-container .background .inner {
  background-color: black;
  height: 100%;
  border-radius: 8px;
}
.progress-container .percentage {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .progress-container .percentage {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .progress-container .percentage {
    font-size: 1.125rem;
  }
}

.logo-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.theme-light .logo-container {
  background-color: #ffffff;
  color: #333333;
}
.theme-dark .logo-container {
  background-color: #111827;
  color: #ffffff;
}
.logo-container header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo-container header h1.game-title {
  font-size: 2.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .logo-container header h1.game-title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .logo-container header h1.game-title {
    font-size: 3rem;
  }
}
.theme-light .logo-container header h1.game-title {
  color: #7b61ff;
}
.theme-dark .logo-container header h1.game-title {
  color: #7b61ff;
}
.theme-light .logo-container main p.game-subtitle {
  color: #666666;
}
.theme-dark .logo-container main p.game-subtitle {
  color: #fcfcfc;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 700;
}
.buttons-container .btn-start {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .buttons-container .btn-start {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .buttons-container .btn-start {
    font-size: 1.375rem;
  }
}
.theme-light .buttons-container .btn-start {
  background-color: #6e64f6;
  color: #ffffff;
}
.theme-dark .buttons-container .btn-start {
  background-color: #000000;
  color: #ffffff;
}
.buttons-container .btn-saved {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .buttons-container .btn-saved {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .buttons-container .btn-saved {
    font-size: 1.375rem;
  }
}
.theme-light .buttons-container .btn-saved {
  background-color: #f1f3f5;
  color: #333333;
}
.theme-dark .buttons-container .btn-saved {
  background-color: #1f2937;
  color: #ffffff;
}

.recently-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  font-weight: 700;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .recently-container {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .recently-container {
    font-size: 1.125rem;
  }
}
.theme-light .recently-container {
  background-color: #f1f3f5;
  color: #333333;
}
.theme-dark .recently-container {
  background-color: #1f2937;
  color: #ffffff;
}
.recently-container .btn-saved {
  height: auto;
  border-radius: 0.5rem;
}
.theme-light .recently-container .btn-saved {
  background-color: #3f4756;
  color: #ffffff;
}
.theme-dark .recently-container .btn-saved {
  background-color: #374151;
  color: #ffffff;
}
.recently-container .btn-saved .des-container {
  display: flex;
  justify-content: space-between;
}
.recently-container .btn-saved .des-container .des-title {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.25rem;
}
.recently-container .btn-saved .des-container .des-title .title {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .recently-container .btn-saved .des-container .des-title .title {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .recently-container .btn-saved .des-container .des-title .title {
    font-size: 1rem;
  }
}
.recently-container .btn-saved .des-container .des-title .player {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .recently-container .btn-saved .des-container .des-title .player {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .recently-container .btn-saved .des-container .des-title .player {
    font-size: 0.875rem;
  }
}
.recently-container .btn-saved .des-container .des-sub {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .recently-container .btn-saved .des-container .des-sub {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .recently-container .btn-saved .des-container .des-sub {
    font-size: 0.875rem;
  }
}
.theme-light .recently-container .btn-saved .des-container .des-sub .progress {
  font-weight: 600;
  color: #7b61ff;
}
.theme-dark .recently-container .btn-saved .des-container .des-sub .progress {
  font-weight: 600;
  color: #7b61ff;
}

.game-list {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  font-weight: 700;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .game-list {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-list {
    font-size: 1.125rem;
  }
}
.theme-light .game-list {
  background-color: #ffffff;
}
.theme-dark .game-list {
  background-color: #111827;
}
.game-list .btn-saved {
  height: auto;
  border-radius: 0.5rem;
}
.game-list .saved-header {
  display: flex;
  justify-content: space-between;
}
.game-list .saved-header .saved {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.game-list .saved-header .saved h3 {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .game-list .saved-header .saved h3 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-list .saved-header .saved h3 {
    font-size: 1.375rem;
  }
}
.game-list .saved-header .btn-border {
  display: flex;
  justify-content: space-between;
  border-radius: 0px;
  border-color: #d1d5db;
  width: 106px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .game-list .saved-header .btn-border {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-list .saved-header .btn-border {
    font-size: 1rem;
  }
}
.game-list .des-container {
  display: flex;
  flex-direction: column;
}
.game-list .des-container .des-title {
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: space-between;
}
.game-list .des-container .des-title .string-contianer {
  align-items: center;
  display: flex;
}
.game-list .des-container .des-title .title {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .game-list .des-container .des-title .title {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-list .des-container .des-title .title {
    font-size: 1rem;
  }
}
.game-list .des-container .des-title .player {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .game-list .des-container .des-title .player {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-list .des-container .des-title .player {
    font-size: 0.875rem;
  }
}
.game-list .des-container .des-title .action-btns {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.game-list .des-container .des-title .date {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .game-list .des-container .des-title .date {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-list .des-container .des-title .date {
    font-size: 1rem;
  }
}
.game-list .des-container .des-title .progress {
  display: flex;
  flex: 1;
}

.container {
  width: 100%;
  box-sizing: border-box;
  min-width: 320px;
  margin-bottom: 2rem;
  max-width: 327px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 944px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.text-xs {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .text-xs {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-xs {
    font-size: 0.875rem;
  }
}

.text-sm {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .text-sm {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-sm {
    font-size: 1rem;
  }
}

.text-base {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .text-base {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-base {
    font-size: 1.125rem;
  }
}

.text-lg {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .text-lg {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-lg {
    font-size: 1.375rem;
  }
}

.text-xl {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .text-xl {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-xl {
    font-size: 1.75rem;
  }
}

.text-2xl {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .text-2xl {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-2xl {
    font-size: 2rem;
  }
}

.text-3xl {
  font-size: 1.875rem;
}
@media screen and (min-width: 768px) {
  .text-3xl {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-3xl {
    font-size: 2.5rem;
  }
}

.text-4xl {
  font-size: 2.25rem;
}
@media screen and (min-width: 768px) {
  .text-4xl {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .text-4xl {
    font-size: 3rem;
  }
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0, .header-container .container {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1, .right-console .player-container .players .player .name .turn {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.m-2, .right-console, .game-container .left-console {
  margin: 0.5rem;
}

.mx-2, .map-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-2, .right-console .player-container {
  margin-top: 0.5rem;
}

.mb-2, .game-container .left-console .building section.des-section, .start-container .select-input .select-label {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.p-2, .modal-wrapper .modal-container .btn-container .btn.btn-random, .modal-wrapper .modal-container .btn-container .btn.btn-dark, .right-console .player-container .players .player, .right-console .lucky .lucky-items .lucky-item .lucky-card button.btn.btn-border, .right-console .lucky .lucky-items .lucky-item .lucky-card, .building-select, .start-container .btn-start, .start-container .btn-random, .start-container .select-input .selected, input, .btn.btn-common, .btn.btn-border {
  padding: 0.5rem;
}

.px-2, .right-console .player-container .players .player .name .turn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2, .btn.btn-dark {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.p-3, .game-container .left-console .dice-number div {
  padding: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4, .game-container, .logo-container header {
  margin-top: 1rem;
}

.mb-4, .game-container .left-console .building h3, .logo-container {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.p-4, .modal-wrapper .modal-container, .game-container .console-container, .start-container .select-input .select-box .select-elem {
  padding: 1rem;
}

.px-4, .btn.btn-dark {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4, .building-select {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.m-5 {
  margin: 1.5rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-5, .progress-container {
  margin-top: 1.5rem;
}

.mb-5, .buttons-container {
  margin-bottom: 1.5rem;
}

.ml-5 {
  margin-left: 1.5rem;
}

.mr-5 {
  margin-right: 1.5rem;
}

.p-5, .btn {
  padding: 1.5rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 1.5rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.pl-5 {
  padding-left: 1.5rem;
}

.pr-5 {
  padding-right: 1.5rem;
}

.m-6 {
  margin: 2rem;
}

.mx-6 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-6 {
  margin-top: 2rem;
}

.mb-6 {
  margin-bottom: 2rem;
}

.ml-6 {
  margin-left: 2rem;
}

.mr-6 {
  margin-right: 2rem;
}

.p-6, .start-container {
  padding: 2rem;
}

.px-6 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-6 {
  padding-top: 2rem;
}

.pb-6 {
  padding-bottom: 2rem;
}

.pl-6 {
  padding-left: 2rem;
}

.pr-6 {
  padding-right: 2rem;
}

.m-7 {
  margin: 2.5rem;
}

.mx-7 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-7 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-7 {
  margin-top: 2.5rem;
}

.mb-7 {
  margin-bottom: 2.5rem;
}

.ml-7 {
  margin-left: 2.5rem;
}

.mr-7 {
  margin-right: 2.5rem;
}

.p-7 {
  padding: 2.5rem;
}

.px-7 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-7 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pt-7 {
  padding-top: 2.5rem;
}

.pb-7 {
  padding-bottom: 2.5rem;
}

.pl-7 {
  padding-left: 2.5rem;
}

.pr-7 {
  padding-right: 2.5rem;
}

.m-8 {
  margin: 3rem;
}

.mx-8 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-8 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-8 {
  margin-top: 3rem;
}

.mb-8 {
  margin-bottom: 3rem;
}

.ml-8 {
  margin-left: 3rem;
}

.mr-8 {
  margin-right: 3rem;
}

.p-8 {
  padding: 3rem;
}

.px-8 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-8 {
  padding-top: 3rem;
}

.pb-8 {
  padding-bottom: 3rem;
}

.pl-8 {
  padding-left: 3rem;
}

.pr-8 {
  padding-right: 3rem;
}

.m-9 {
  margin: 3.75rem;
}

.mx-9 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.my-9 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.mt-9 {
  margin-top: 3.75rem;
}

.mb-9 {
  margin-bottom: 3.75rem;
}

.ml-9 {
  margin-left: 3.75rem;
}

.mr-9 {
  margin-right: 3.75rem;
}

.p-9 {
  padding: 3.75rem;
}

.px-9 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.py-9 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.pt-9 {
  padding-top: 3.75rem;
}

.pb-9 {
  padding-bottom: 3.75rem;
}

.pl-9 {
  padding-left: 3.75rem;
}

.pr-9 {
  padding-right: 3.75rem;
}

.m-10 {
  margin: 4rem;
}

.mx-10 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-10 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-10, .start-container {
  margin-top: 4rem;
}

.mb-10 {
  margin-bottom: 4rem;
}

.ml-10 {
  margin-left: 4rem;
}

.mr-10 {
  margin-right: 4rem;
}

.p-10 {
  padding: 4rem;
}

.px-10 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-10 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-10 {
  padding-top: 4rem;
}

.pb-10 {
  padding-bottom: 4rem;
}

.pl-10 {
  padding-left: 4rem;
}

.pr-10 {
  padding-right: 4rem;
}

.m-auto {
  margin: auto;
}

.mx-auto, .container {
  margin-left: auto;
  margin-right: auto;
}

@keyframes rolling {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateY(45deg) rotateZ(45deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(90deg) rotateZ(90deg);
  }
  75% {
    transform: rotateX(270deg) rotateY(135deg) rotateZ(135deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(180deg);
  }
}
.start-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.theme-light .start-container {
  background-color: #f1f3f5;
  color: #333333;
}
.theme-dark .start-container {
  background-color: #1f2937;
  color: #ffffff;
}
.start-container .game-title {
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .start-container .game-title {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .start-container .game-title {
    font-size: 2rem;
  }
}
.start-container .select-input {
  position: relative;
}
.start-container .select-input .selected {
  display: flex;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  height: 33px;
  box-sizing: border-box;
}
.start-container .select-input .selected .icon {
  transition: transform 0.3s ease-in-out;
}
.start-container .select-input .selected .icon.rotate {
  transform: rotate(-180deg);
}
.start-container .select-input .select-box {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.theme-light .start-container .select-input .select-box {
  background-color: #3f4756;
  color: #ffffff;
}
.theme-dark .start-container .select-input .select-box {
  background-color: #374151;
  color: #ffffff;
}
.start-container .input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  gap: 0.5rem;
}
.start-container .input-container .input-btn {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.start-container .input-container .input-btn input {
  display: flex;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .start-container .input-container .input-btn {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .start-container .input-container .input-btn {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .start-container .input-container .input-btn {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1440px) {
  .start-container .input-container .input-btn {
    justify-content: flex-start;
  }
}
.start-container .color-container {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  max-width: 326px;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .start-container .color-container {
    max-width: 263px;
  }
}
@media screen and (min-width: 1024px) {
  .start-container .color-container {
    max-width: 263px;
  }
}
@media screen and (min-width: 1280px) {
  .start-container .color-container {
    max-width: 263px;
  }
}
@media screen and (min-width: 1440px) {
  .start-container .color-container {
    max-width: 263px;
  }
}
.start-container .color-container .elem-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-width: 230px;
}
.start-container .color-container .color-elem {
  color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-container .color-container .color-elem .color-checked {
  color: #ffffff;
}
.start-container .color-container .color-elem .checked-black {
  color: #000000;
}
.start-container .players-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .start-container .players-container {
    align-items: flex-end;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .start-container .players-container {
    align-items: flex-end;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .start-container .players-container {
    align-items: flex-end;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .start-container .players-container {
    align-items: flex-end;
    flex-direction: row;
  }
}
.start-container .btn-random {
  height: auto;
  font-weight: 300;
}
.theme-light .start-container .btn-random {
  background-color: #3f4756;
  color: #ffffff;
}
.theme-dark .start-container .btn-random {
  background-color: #374151;
  color: #ffffff;
}
.start-container .btn-start {
  font-size: 1.125rem;
  height: auto;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .start-container .btn-start {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .start-container .btn-start {
    font-size: 1.375rem;
  }
}
.theme-light .start-container .btn-start {
  background-color: #6e64f6;
  color: #ffffff;
}
.theme-dark .start-container .btn-start {
  background-color: #000000;
  color: #ffffff;
}

.game-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  flex-shrink: 1;
  width: 100%;
  min-width: 510px;
}
@media screen and (min-width: 360px) {
  .game-container {
    min-width: auto;
  }
}
@media screen and (min-width: 768px) {
  .game-container {
    min-width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .game-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .game-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .game-container {
    flex-direction: row;
  }
}
.game-container .console-container {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.theme-light .game-container .console-container {
  background-color: #f1f3f5;
  color: #333333;
}
.theme-dark .game-container .console-container {
  background-color: #1f2937;
  color: #ffffff;
}
.game-container .console-container h3 {
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .game-container .console-container h3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-container .console-container h3 {
    font-size: 1.125rem;
  }
}
.theme-light .game-container .console-container button {
  background-color: #6e64f6;
  color: #ffffff;
}
.theme-dark .game-container .console-container button {
  background-color: #000000;
  color: #ffffff;
}

.cell {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .cell {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .cell {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .cell {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .cell {
    width: 40px;
    height: 40px;
  }
}
.cell.left {
  background-color: #dbeafe;
}
.cell.top {
  background-color: #fee2e2;
}
.cell.right {
  background-color: #fef9c3;
}
.cell.bottom {
  background-color: #dcfce7;
}

.building-select {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.building-select.warp {
  height: 500px;
  overflow-y: scroll;
}

.map-container {
  display: flex;
  flex: 1;
  width: 100%;
}
.map-container .map {
  width: 100%;
}

.board-game {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .board-game {
    max-width: 520px;
  }
}
@media screen and (min-width: 1024px) {
  .board-game {
    max-width: 520px;
  }
}
@media screen and (min-width: 1280px) {
  .board-game {
    max-width: 520px;
  }
}
@media screen and (min-width: 1440px) {
  .board-game {
    max-width: 520px;
  }
}
.board-game .board {
  justify-content: space-between;
  gap: 0;
}
.board-game .top-row,
.board-game .bottom-row {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}
.board-game .bottom-row {
  flex-direction: row-reverse;
}
.board-game .middle-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
  height: calc(100% - 2rem);
}
.board-game .middle-section .left-column,
.board-game .middle-section .right-column {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}
.board-game .middle-section .left-column {
  flex-direction: column-reverse;
}
.board-game .middle-section .center-area {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 256px;
  margin: 0.25rem;
}
.board-game .middle-section .center-area img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.board-game .middle-section .center-area .line {
  position: absolute;
  top: 40px;
  right: -17px;
  transform: rotate(-45deg);
  width: 120px;
  height: 4px;
  background-color: white;
}
.board-game .middle-section .center-area .station {
  position: absolute;
  top: 20px;
  right: 40px;
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 768px) {
  .board-game .middle-section .center-area .station {
    width: 140px;
    height: 140px;
  }
}
@media screen and (min-width: 1024px) {
  .board-game .middle-section .center-area .station {
    width: 140px;
    height: 140px;
  }
}
@media screen and (min-width: 1280px) {
  .board-game .middle-section .center-area .station {
    width: 140px;
    height: 140px;
  }
}
@media screen and (min-width: 1440px) {
  .board-game .middle-section .center-area .station {
    width: 140px;
    height: 140px;
  }
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container .left-console {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  .game-container .left-console {
    flex-direction: column;
    width: 230px;
  }
}
@media screen and (min-width: 1280px) {
  .game-container .left-console {
    flex-direction: column;
    width: 230px;
  }
}
@media screen and (min-width: 1440px) {
  .game-container .left-console {
    flex-direction: column;
    width: 230px;
  }
}
.game-container .left-console .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.game-container .left-console .name h1 {
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .game-container .left-console .name h1 {
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .game-container .left-console .name h1 {
    font-size: 2rem;
  }
}
.theme-light .game-container .left-console .name h1 {
  color: #333333;
}
.theme-dark .game-container .left-console .name h1 {
  color: #ffffff;
}
.theme-light .game-container .left-console .name button {
  background-color: #6e64f6;
  color: #ffffff;
}
.theme-dark .game-container .left-console .name button {
  background-color: #000000;
  color: #ffffff;
}
.game-container .left-console .dice.rolling {
  animation: rolling 1s ease-in-out infinite;
}
.game-container .left-console .dice .roll-dice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.theme-light .game-container .left-console .dice .roll-dice.disabled {
  background-color: rgba(243, 244, 246, 0.5333333333);
  color: #333333;
}
.theme-dark .game-container .left-console .dice .roll-dice.disabled {
  background-color: #f3f4f6;
  color: #ffffff;
}
.game-container .left-console .dice-number {
  display: flex;
  gap: 0.5rem;
  max-width: 200px;
}
.game-container .left-console .dice-number div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.game-container .left-console .double {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container .left-console .double.none {
  color: transparent;
}
.game-container .left-console .building .des {
  display: flex;
  justify-content: space-between;
}
.theme-light .game-container .left-console .building .des .owner {
  color: #4664ff;
}
.theme-dark .game-container .left-console .building .des .owner {
  color: #4664ff;
}
.theme-light .game-container .left-console .building .des .tolls {
  color: #f87171;
}
.theme-dark .game-container .left-console .building .des .tolls {
  color: #f87171;
}
.game-container .left-console .building section.btns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.game-container .left-console .building section.btns button.btn-border {
  background-color: transparent;
}
.theme-light .game-container .left-console .building section.btns button.btn-border {
  color: #333333;
}
.theme-dark .game-container .left-console .building section.btns button.btn-border {
  color: #ffffff;
}
.theme-light .game-container .left-console .building section.btns button.tolls {
  background-color: #3f4756;
}
.theme-dark .game-container .left-console .building section.btns button.tolls {
  background-color: #374151;
}

.right-console {
  width: 500px;
}
@media screen and (min-width: 1024px) {
  .right-console {
    flex-direction: column;
    width: 230px;
  }
}
@media screen and (min-width: 1280px) {
  .right-console {
    flex-direction: column;
    width: 230px;
  }
}
@media screen and (min-width: 1440px) {
  .right-console {
    flex-direction: column;
    width: 230px;
  }
}
.right-console .lucky .lucky-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.theme-light .right-console .lucky .lucky-items .lucky-item {
  background-color: #3f4756;
  border-radius: 4px;
}
.theme-dark .right-console .lucky .lucky-items .lucky-item {
  background-color: #374151;
  border-radius: 4px;
}
.right-console .lucky .lucky-items .lucky-item .lucky-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-light .right-console .lucky .lucky-items .lucky-item .lucky-card h4 {
  color: #ffffff;
}
.theme-dark .right-console .lucky .lucky-items .lucky-item .lucky-card h4 {
  color: #ffffff;
}
.right-console .lucky .lucky-items .lucky-item .lucky-card button.btn.btn-border {
  background-color: transparent;
  border-color: white;
}
.right-console .player-container {
  max-height: 400px;
}
.right-console .player-container .players {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.theme-light .right-console .player-container .players .player {
  background-color: #3f4756;
  color: #ffffff;
  border-radius: 4px;
}
.theme-dark .right-console .player-container .players .player {
  background-color: #374151;
  color: #ffffff;
  border-radius: 4px;
}
.right-console .player-container .players .player .name {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}
.right-console .player-container .players .player .name .turn {
  width: auto;
  border-radius: 4px;
}
.right-console .player-container .players .player .description .des {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.theme-light .right-console .player-container .players .player .description .des {
  color: #ffffff;
}
.theme-dark .right-console .player-container .players .player .description .des {
  color: #ffffff;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrapper .modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
}
.theme-light .modal-wrapper .modal-container {
  background-color: #f1f3f5;
  color: #333333;
}
.theme-dark .modal-wrapper .modal-container {
  background-color: #1f2937;
  color: #ffffff;
}
.modal-wrapper .modal-container h1 {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal-wrapper .modal-container h1 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .modal-wrapper .modal-container h1 {
    font-size: 1.375rem;
  }
}
.modal-wrapper .modal-container .m-players-container {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-wrapper .modal-container .m-players-container .player-num {
  display: flex;
  gap: 6px;
}
.modal-wrapper .modal-container .m-players-container .players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.modal-wrapper .modal-container .m-players-container .players .p-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.modal-wrapper .modal-container .btn-container {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}
.modal-wrapper .modal-container .btn-container .btn {
  display: flex;
  flex: 1;
  border-radius: 4px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .modal-wrapper .modal-container .btn-container .btn {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .modal-wrapper .modal-container .btn-container .btn {
    font-size: 1.75rem;
  }
}
.modal-wrapper .modal-container .btn-container .btn.btn-random, .modal-wrapper .modal-container .btn-container .btn.btn-dark {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
  justify-content: center;
}
.theme-light .modal-wrapper .modal-container .btn-container .btn.btn-random {
  background-color: #3f4756;
  color: #ffffff;
}
.theme-dark .modal-wrapper .modal-container .btn-container .btn.btn-random {
  background-color: #374151;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */